

<div class="p-6">




 <header class="page-header">
      <h1 class="title">Felhasználók kezelése</h1>
      <div class="decoration-line"></div>
    </header>

  <!-- Loading -->
  <div *ngIf="loading" class="text-gray-300">Betöltés...</div>

  <!-- Error -->
  <div *ngIf="error" class="text-red-400">{{ error }}</div>
    
            <div class="button-container">
               
    <button class="btn-add"routerLink="/admin-dashboard">Vissza</button>
</div>
  <!-- Users Table -->
  <!-- Users Table (Custom Scroll + Fixed Header) -->
<div *ngIf="!loading">

  <div class="tbl-header">
    <table>
      <thead>
        <tr>
          <th class="actions-col">ID</th>
          <th class="actions-col">Felhasználónév</th>
          <th class="actions-col">Email</th>
          <th class="actions-col">Szerepkör</th>
          <th class="actions-col">Létrehozva</th>
          <th class="actions-col">Műveletek</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table>
      <tbody>
        <tr *ngFor="let user of users">

          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>

          <td>
            <span class="px-3 py-1 rounded-full text-xs font-semibold"
              [ngClass]="{
                'bg-blue-600': user.role === 'Admin',
                'bg-green-600': user.role === 'User'
              }">
              {{ user.role }}
            </span>
          </td>

          <td>{{ user.createdAt | date:'yyyy-MM-dd' }}</td>

          <td style="display: flex; gap: 10px;">
            <button class="btn-add" (click)="openEditForm(user)">Szerkesztés</button>
            <button class="btn-add" (click)="deleteUser(user.id)">Törlés</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>


  
    

</div>

 
  <!-- USER MODAL -->
<div class="modal-overlay" [class.active]="isFormOpen">
  <div class="modal modal-open">

    <!-- DINAMIKUS CÍM -->
    <h2 class="text-xl font-semibold mb-4 text-white">
      {{ isEditing ? 'Felhasználó szerkesztése' : 'Új felhasználó hozzáadása' }}
    </h2>

    <label>Felhasználónév</label>
    <input [(ngModel)]="formModel.username">

    <label>Email</label>
    <input [(ngModel)]="formModel.email">

    <label>Szerepkör</label><br>
    <select [(ngModel)]="formModel.role">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
    </select>
<br>
    <!-- JELSZÓ CSAK HOZZÁADÁSKOR -->
    <label *ngIf="!isEditing">Jelszó</label>
    <input *ngIf="!isEditing" type="password" [(ngModel)]="formModel.password">

    <div class="flex justify-end gap-3">
      <button (click)="cancelForm()" class="btn-add">Mégse</button>

      <!-- DINAMIKUS GOMB -->
      <button (click)="saveForm()" class="btn-add">
        {{ isEditing ? 'Mentés' : 'Hozzáadás' }}
      </button>
    </div>

  </div>
</div>

