<!-- Új film hozzáadása vagy szerkesztése -->
<div *ngIf="isFormOpen" class="form-container">
  <div class="form-content bg-gray-800 p-4 rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold">{{ editingMovie ? 'Film szerkesztése' : 'Új film hozzáadása' }}</h2>
    
    <label class="block mt-2">Cím:</label>
    <input type="text" class="input" [(ngModel)]="formModel.title" />

    <label class="block mt-2">Leírás:</label>
    <textarea class="input" [(ngModel)]="formModel.description"></textarea>

    <label class="block mt-2">Megjelenési év:</label>
    <input type="number" class="input" [(ngModel)]="formModel.releaseYear" />

    <label class="block mt-2">Műfajok:</label>
    <div class="genres">
      <label *ngFor="let genre of genres">
        <input 
          type="checkbox" 
          [(ngModel)]="formModel.genres" 
          [value]="genre.name"
          (change)="onGenreChange(genre.name)"
        /> 
        {{ genre.name }}
      </label>
    </div>

    <button class="button bg-green-600 text-white mt-4" (click)="saveMovie()">
      {{ editingMovie ? 'Mentés' : 'Hozzáadás' }}
    </button>
    <button class="button bg-gray-500 text-white mt-4" (click)="closeForm()">Mégsem</button>
  </div>
</div>
