.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background-color: #1f2937;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.button {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.input {
  background-color: #374151;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 0.5rem;
}

.genres label {
  display: inline-block;
  margin-right: 1rem;
}
