<div class="container">

  <h2>Bejelentkezés</h2>

  <form (ngSubmit)="submit()">

    <div class="form-control">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="model.email"
        name="email"
        required />
    </div>

    <div class="form-control">
      <label>Jelszó</label>
      <input
        type="password"
        [(ngModel)]="model.password"
        name="password"
        required />
    </div>

    <button type="submit">Belépés</button>
  </form>

  <p *ngIf="error" class="error">{{ error }}</p>

  <p class="link">
    Még nincs fiókod?
    <a routerLink="/register">Regisztráció</a>
  </p>

</div>
